*, *::before, *::after{
margin: 1.5px;
font-family: 'Times New Roman', sans-serif;
box-sizing: border-box;
font-weight: normal;
}

#title{
    background-color: brown;
    color: rgb(63, 60, 57) ;
    text-align: center;
  }  

body{
    padding: 0;
    margin: 1.5px;
    background: linear-gradient(to right, rgb(4, 193, 183),rgb(82, 231, 82));
}

  .gridwrapper  {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(40px, auto) repeat(5, 100px);
    width: 300px;
    height: 500px;
    margin: 70px 50px 0 50px;
    border: 0;
    box-shadow: 8px 5px 8px;
    border-radius: 20px;
    padding: 5px;
    background: linear-gradient(to right, rgb(96, 239, 96), rgb(17, 234, 223));
  }

  .numbtn{
    border: none;
    height: 90%;
    color: blue;
  
  }

  .displayscreen{
    grid-column: 1 / 5;
    border-radius: 20px;
    background-color: linear-gradient(to right, rgb(4, 193, 183),rgb(82, 231, 82));
    display: grid;
    align-items: center;
    justify-content: end;
    padding: 15px;
  }

  .displayscreen .prev-display{
    color: brown;
    font-size: 1.4rem;
  }

  .displayscreen .current-display{
    font-size: 1.7rem;
    color: blue;
  }

  .equal{
    grid-column: 3/5;
  }

 .gridwrapper > button{
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    border-radius: 50px;
    box-shadow: -8px -8px 15px 2px rgba(250, 250, 250, 0.1), 5px 5px 15px 2px rgba(0, 0, 0, 0.2);
    
  }

  button {
    background: linear-gradient(to right, rgb(156, 237, 233), rgb(213, 221, 213));    
    cursor: pointer;
  }

  #esp{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: brown;
  }
 
  @media screen and (min-width: 700px) and (max-width:1023px){
    /*style for TABLE*/
    .gridwrapper{
      width: 400px;
      height: 700px;
      gap: 20px;
      margin-left: 30%;
    }
    .displayscreen .prev-display{
      font-size: 1.8rem;
    }
  
    .displayscreen .current-display{
      font-size: 2rem;
    }
  }
  @media screen and (min-width: 1024px) {
    /* Styles for desktop devices */
    .gridwrapper{
      margin-left: 34%;
      width: 500px;
      height: 680px;
      gap: 20px;
    }
    .displayscreen .prev-display{
      font-size: 1.9rem;
    }
  
    .displayscreen .current-display{
      font-size: 2.2rem;
    }
    .gridwrapper > button{
      font-family: 'Times New Roman';
      font-size: 2rem;
  }
  #esp{
    font-size: 1.8rem;
  }

  .displayscreen{
    padding: 20px;
  }

  #title{
    font-size: 2rem;
  }  
}
